<div class="flex items-center justify-center w-full mb-2">
    <label
        for="file-select"
        class="flex flex-col items-center justify-center w-full h-10 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600"
    >
        <div class="flex flex-row items-center justify-center">
            <p class="text-sm text-gray-500 dark:text-gray-400">
                <span class="font-semibold">Click to upload</span> or drag and drop
            </p>
        </div>
        <input id="file-select" type="file" class="hidden" />
    </label>
</div>

<div class="block relative">
    <select
        id="state-dropdown"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    >
        <option>Select State</option>
    </select>
</div>

<script src="@scripts/state/StateSelect"></script>