<main
    class="bg-gray-50 dark:bg-gray-900 fixed top-[3.5rem] h-full"
    style="width: calc(100% - 320px); left: 256px"
>
    <canvas id="canvas"></canvas>
</main>

<script src="@scripts/state/Viewport"></script>