---
import Navbar from "../components/states/Navbar.astro";
import Aside from "../components/states/Aside.astro";
import Main from "../components/states/Main";
import AnimControls from "@components/states/viewport/AnimControls.astro";
import Shortcuts from "../components/states/Shortcuts.astro";
---

<html>
	<head>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.js"
		></script>
	</head>
	<body>
		<div class="bg-gray-50 dark:bg-gray-900 antialiased">
			<Navbar />
			<Aside />
			<main
				class="bg-gray-50 dark:bg-gray-900 fixed top-[3.5rem]"
				style="width: calc(100% - 320px); left: 256px; height: calc(100% - 3.5rem);"
			>
				<Main client:visible client:only />
				<AnimControls/>
			</main>
			<Shortcuts />
		</div>
	</body>
</html>
