---
import Navbar from "../components/states/Navbar.astro"
import Aside from "../components/states/Aside.astro"
import Main from "../components/states/Main.astro"
import Shortcuts from "../components/states/Shortcuts.astro"
---

<html>
	<head>

	</head>
	<body>
		<script src="@scripts/state/Redux"></script>
		<div class="bg-gray-50 dark:bg-gray-900 antialiased">
			<Navbar/>
			<Aside/>
			<Main/>
			<Shortcuts/>
		</div>
	</body>
</html>