---
import Card from "../components/Card.astro";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Megaman Legends 2</title>
	</head>
	<body
		style="background-image: url('/splash-min.png'); background-size: cover; background-repeat: no-repeat; width: 100vw; height: 100vh;"
	>
		<main>
			<div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
				<div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
					<h2
						class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
					>
						Megaman Legends 2
					</h2>
					<p
						class="font-light text-gray-500 sm:text-xl dark:text-gray-400"
					>
						A set of tools for working with Megaman Legends 2 save
						states and file formats
					</p>
				</div>
				<div class="grid gap-8 lg:grid-cols-2">
					<Card title="Save State Viewer" href="/state" />
					<Card title="File Analysis" />
					<Card title="Documentation" />
					<Card title="Support" />
				</div>
			</div>
		</main>
	</body>
</html>
